.input-group {
  display: flex;
  flex-direction: column;
}

.input-two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

label {
  display: block;
  margin: 0.9rem 0 0.4rem 0;
  font-size: 0.8rem;
  color: var(--slate-700);
}

.field-label {
  margin: 0.9rem 0 0.4rem 0;
  font-size: 0.8rem;
  color: var(--slate-700);
}

.input-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid var(--slate-300);
  border-radius: 6px;
  overflow: hidden;
}

.prefix,
.suffix {
  padding: 0.75rem;
  background: var(--slate-100);
  color: var(--slate-700);
  font-weight: 600;
}

input {
  display: block;
  width: 100%;
  padding: 0.75rem;
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 1rem;
  color: var(--slate-900);
}

label.radio-card {
  margin: 0.2rem;
}

.radio-card {
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 0.8rem 1rem;
  border: 1px solid var(--slate-300);
  border-radius: 6px;
}

/* hide real input, but keep it accessible */
.radio-card > input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.radio-dot {
  width: 18px;
  height: 18px;
  display: grid;
  place-items: center;
  flex: 0 0 auto;
  border-radius: 50%;
  border: 1.5px solid var(--slate-300);
}

.radio-dot::after {
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
}

.radio-text {
  font-weight: 700;
  font-size: 0.9rem;
  color: var(--slate-900);
}

button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  margin-top: 1.6rem;
  padding: 0.8rem 2rem;
  background: var(--lime);
  border: none;
  border-radius: 24px;
  font-weight: 600;
  font-size: 0.9rem;
  color: var(--slate-900);
}

/* ACTIVE STATES */

.radio-card:focus-within {
  outline: none;
  border-color: var(--slate-700);
}

.radio-card:has(input:checked) {
  border-color: var(--lime);
  background: var(--lime-light);
}

.radio-card:has(input:checked) .radio-dot {
  border-color: var(--lime);
}

.radio-card:has(input:checked) .radio-dot::after {
  background: var(--lime);
}

.input-wrapper:focus-within {
  border-color: var(--lime);
}

.input-wrapper:focus-within .prefix,
.input-wrapper:focus-within .suffix {
  background: var(--lime);
  color: var(--slate-900);
}

button:hover {
  opacity: 0.85;
}

/* ERROR STATES */

.input-wrapper.invalid {
  border-color: red;
}

.prefix.invalid {
  background: var(--red);
  color: var(--white);
}

.error-message {
  margin-top: 0.4rem;
  font-size: 0.75rem;
  color: red;
}

/* RESPONSIVE DESIGN */

@media (max-width: 1000px) {
  button {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .input-two-columns {
    grid-template-columns: 1fr;
    gap: 0;
  }
}

/* hide number-input-fields spinner buttons */
/* Chrome, Safari */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
