@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  --lime: #d8db2f;
  --lime-light: #fbfcc2;
  --slate-900: #133041;
  --slate-700: #4e6e7e;
  --slate-500: #6b94a8;
  --slate-300: #9abed5;
  --slate-100: #e4f4fd;
  --red: #d73328;
  --white: #fff;
  --very-dark-blue: #0d2430;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--slate-100);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}
